{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price Bought</th>
            </tr>
        </thead>
        <tbody>
            {% for row in columns %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["cost"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Cash:</td>
                <td>{{ cash }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}