{% extends 'app/layout.html' %}

{% block body %}
    <div id="about-container">
        <h1 id="about-title">This blog is dedicated to making stronger, fitter and healthier people!</h1>
        <h5 id="about-author">About the author</h5>
        <div class="center">
        <p id="about-content">Noah Dammann is a 19 year-old South African fitness enthusiast.
            
            I've been training for 6 years now and have decided to share all the things I've learnt along the way to people who are just beginning their fitness journeys.</p>
        </div>
    </div>
{% endblock %}