{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'app/styles.css' %}" rel="stylesheet">
        <title>Blog</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'newsletter' %}">Newsletter</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>