{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price Bought</th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["cost"] }}</td>
                    <td>{{ row["date"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}